[submodule "third_party/Swin-Transformer"]
	path = third_party/Swin-Transformer
	url = https://github.com/microsoft/Swin-Transformer.git
	branch = main
[submodule "third_party/deit"]
	path = third_party/deit
	url = https://github.com/facebookresearch/deit.git
	branch = main
[submodule "third_party/fairseq"]
	path = third_party/fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "third_party/Megatron-LM"]
	path = third_party/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
